@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Protest+Strike&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container{
    background: linear-gradient(to right, white, brown);;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}

.img1{
    width: 400px;
    height: 400px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px;
}

